<div class="container">
  <div class="row">
    <div class="mx-auto text-center col-7 ">
      <h1>
        welcome to <span class="font-weight-bold">
        <%= link_to do %>
          <i class="fa-solid fa-book text-dark"></i>
        <% end %>
        Bookers</span>!!
      </h1>
    </div>
  </div>
</div>
